target/*
.settings/*
.classpath
.project
.idea
*.iml
/target
_site/
/working/
/working_protect/
/working_test/
/bin/
/pom.maven
contrast.yaml
cypress/videos/
cypress/screenshots/
cypress/.DS_Store
cypress/support/
cypress/fixtures/
node_modules/*
cypress.json
